.openedCell {
    background-color: lightblue;
    color: black;
    font-weight: bold;
}
.closedCell {
    background-color:cadetblue;
}
.flexBox{
    display: flex;
    width:fit-content;
    height:fit-content;
    padding: auto;
    align-items: center;
}
.stateIcon{
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
}
p{
    cursor:default;
}
.timer{
    font-weight: bold;
}
option{
    position:fixed;
}
.blockItems{
    display: inline-block;
    width: 40px;
    justify-content: flex-start;
}
#flagCountText{
    height: fit-content;
    line-height: 0%;
    width:100px;
    text-align: start;
}